:root {
    --hippie-blue: #4D96A9;
    --deluge: #855FB1;
    --ebony-clay: #28283D;
    --manatee:#87879D;
    --malibu: #8FE3F9;
    --mauve: #D9B8FF;
    --alabaster : #FAFAFA;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--alabaster);
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


h1, 
h2, 
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

header {
    display: inherit;
    padding-top: 48px;
    justify-content: center;
}

main {
    padding-top: 54px;
}

.hero-container {
    display: flex;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    
}

.hero-container > img {
    max-height: 155px;
}

.image-hero-left {
    justify-self: flex-start;
    margin-right: 8px;
    margin-left: -20px;
}

.image-hero-right {
    justify-self: flex-end;
    margin-left: 8px;
}


.page-container {
    padding: 48px 24px;
}

.landing-page-title {
    color: var(--ebony-clay);
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.sm-title {
    font-size: 32px;
}


.landing-page-paragraph {
    color: var(--manatee);
    padding-top: 24px;
    padding-bottom: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    word-break: keep-all;
}

.landing-page-paragraph-2 {
    color: var(--alabaster);
    padding-top: 24px;
    padding-bottom: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    word-break: keep-all;
}


.btn-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.btn {
    color: var(--alabaster);
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    border: 0;
    border-radius: 29px;
    padding: 16px 29px;
    
    cursor: pointer;
}



.btn:first-child {
    margin-bottom: 16px;
}


.btn-download{
    background-color: var(--hippie-blue);
    max-width: 193px;
}

.btn-download > span {
    color: var(--malibu);
}

.btn-what {
    background-color: var(--deluge);
    max-width: 139px;
}

.btn-bg-deluge {
    background-color: var(--deluge);
}

.section-container {
    margin: 64px auto;
}

.path {
    border-left: .05px solid var(--manatee);
    width: 0;
    height: 84px;
    margin: 0 auto;
}
.section {
    border-radius: 50%;
    border: 1px solid rgba(var(--manatee), .25);
    border: 1px solid var(--manatee);
    color: var(--manatee);
    font-weight: 900;
    max-width: 56px;
    padding: 15px 19px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: var(--alabaster);
    margin: 0 auto;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    justify-content: center;
    align-content: center;
    margin-bottom: 32px;
}

.gallery-item {
    width: 100%;
    border-radius: 8px;
}

.landing-page-subtitle {
    color: var(--hippie-blue);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
}


.alabaster-title {
    color: var(--alabaster);
}

.section-container-2 {
    margin-bottom: -25px;
    z-index: 10;
}

.experience-section {
    min-height:100%;
    background:url(../assets/mobile/image-footer.jpg);
    background-size:cover;
    background-blend-mode: multiply;
    height: 428px;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -48px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    mix-blend-mode: normal;
    z-index: -1;
}

.experience-section:after {
    content: '';
    background-color: var(--hippie-blue);
    opacity: .9;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    

}

.experience-section-container {
    padding-top: 92px;
}

footer { font-size: 11px; text-align: center; padding-bottom: 10px; padding-top: 5px; }
footer a { color: hsl(228, 45%, 44%); }


/*================= Tablet View =============================*/


@media screen and (min-width: 376px) and (max-width: 1023px) {
    .hero-container {
        background: url(../assets/tablet/image-hero.png);
        background-repeat: no-repeat;
        min-height: 303px;
        background-position: center;
        background-size: cover;
    }

    .hero-container > img {
        display: none;
    }

    .section-1-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 75%;
        margin: 0 auto;
    }

    .landing-page-title {
        font-size: 48px;
    }

    .landing-page-paragraph {
        max-width: 87.5%;
    }


    .btn-container{
        flex-direction: row;
        justify-content: center;
        align-content: center;

    }

    .btn:first-child {
        margin-bottom: 0;
        margin-right: 8px;
    }

    .btn:last-child {
        margin-left: 8px;
    }


    .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 11px;
    }


    .experience-section-container {
        display: flex;
        flex-direction: column;
        max-width: 75%;
        margin: 0 auto;
    }



}
